<div class="col-md-4 col-sm-12 container">
    <form class="bg-light border border-3 was-validated shadow p-2" #transaccionForm="ngForm">
        <legend class="text-center">Conversor de divisas</legend>
        <div class="m-2">
            <label for="cantidad" class="form-label">Cantidad:</label>
            <input type="text" class="form-control" id="cantidad" placeholder="" name="cantidad" [(ngModel)]="amount"
            #cantidad="ngModel" required pattern="^[0-9]+\.[0-9][0-9]$">

            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)"
            class="invalid-feedback"> 
           
               <div *ngIf="cantidad.errors?.['required']">
                  Cantidad es requerida.
              </div>
            

              <div *ngIf="cantidad.errors?.['pattern']">
                Ingrese un numero con dos decimales
              </div>
            

            </div>

        </div>
        
        <div class="m-2">
            <label for="Select" class="form-label">De:</label>
            <select class="form-control" id="Select" name="from" placeholder="seleccione moneda" [(ngModel)]="from" [ngModelOptions]="{standalone: true}"
            required>
                 
                <option *ngFor="let moneda of monedas" [value]="moneda.symbol">{{moneda.name}}
                <label for="" class="form-laber">{{ moneda.symbol}}</label>
                </option>
             </select>   

             
         

          </div>                 
          
          <div class="m-2">
            <label for="Select" class="form-label">A:</label>
            <select class="form-control" id="Select" name="to" placeholder="seleccione moneda" [(ngModel)]="to" [ngModelOptions]="{standalone: true}"
            required >
                <option *ngFor="let moneda of monedas" [value]="moneda.symbol">{{moneda.name}}
                <label for="" class="form-laber">{{moneda.symbol}}</label>
                </option>
             </select>   

                 
         
          </div> 

          <div class="m-2">
            <input type="number" class="form-control" placeholder={{resultado}} disabled>

          </div>
          
        <button type="submit" class="btn btn-primary col-12" (click)="obtenerConversion()" [disabled]="transaccionForm.invalid">Convertir</button>

    </form>
</div>